.saved-news__newscards {
  padding: 80px 7.2vw;
  display: flex;
  flex-direction: column;
  background-color: #f5f6f7;
}

.saved-news__newscards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 auto;
}
