.about {
  display: flex;
  padding: 80px 104px;
}

.about__image {
  display: block;
  border-radius: 100%;
  max-width: 464px;
  width: 100%;
  height: 464px;
  background: transparent url(../../images/about-image.jpeg) center no-repeat;
}

.about__text {
  display: flex;
  flex-direction: column;
  margin: 51px 0 0 56px;
  max-width: 600px;
}

.about__title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 40px;
}

.about__description {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 26px;
}
