.about {
  display: flex;
  padding: 80px 104px;
}

.about__image {
  border-radius: 100%;
  max-width: 464px;
  width: 100%;
  height: 464px;
}

.about__text {
  display: flex;
  flex-direction: column;
  margin: 51px 0 0 56px;
  max-width: 600px;
}

.about__title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 400;
  font-size: 40px;
}

.about__description {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 26px;
}

@media screen and (min-width: 1440px) {
  .about {
    width: 1232px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1060px) and (max-width: 1130px) {
  .about__image {
    max-width: 400px;
    width: 100%;
    height: 400px;
  }
}

@media screen and (min-width: 980px) and (max-width: 1060px) {
  .about__image {
    max-width: 325px;
    width: 100%;
    height: 325px;
  }
}

@media screen and (max-width: 980px) {
  .about {
    padding: 40px 40px 60px;
    justify-content: space-evenly;
  }

  .about__image {
    max-width: 232px;
    width: 100%;
    height: 232px;
    align-self: center;
  }

  .about__text {
    margin: 51px 0 0 56px;
    max-width: 424px;
    margin: 0;
    margin-left: 32px;
  }
}

@media screen and (max-width: 700px) {
  .about {
    flex-direction: column;
    padding: 32px 24px 128px;
  }

  .about__text {
    margin: 0;
    margin-top: 24px;
  }
}
