.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: #fff;
  max-width: 430px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 43px 36px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__button-close {
  position: absolute;
  top: -46px;
  right: -46px;
  background: transparent url(../../images/close-icon.svg) center no-repeat;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0;
}

.modal__title {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin: 0;
  padding-bottom: 14px;
}

.modal__button-signin {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: #2f71e5;
  padding: 0;
}

.modal__button-signin:hover {
  cursor: pointer;
}
