.circle-preloader__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
}

.circle-preloader__container_hidden {
  display: none;
}

.circle-preloader {
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;

  border-radius: 50%;

  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; */

  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.preloader__text {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: rgb(182, 188, 191);
  margin: 0;
  margin-top: 24px;
}
