.header {
  display: flex;
  flex-direction: column;
  background-image: url("../../images/header-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 576px;
}

@media screen and (max-width: 980px) {
  .header {
    max-height: 400px;
  }
}

@media screen and (max-width: 520px) {
  .header {
    max-height: 536px;
  }
}
