.noresults__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 86px 0 80px;
}

.noresults__image {
  width: 82.5px;
  height: 82.5px;
}

.noresults__title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: rgb(26, 27, 34);
  margin: 32px 0 16px;
}

.noresults__subtitle {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: rgb(182, 188, 191);
  margin: 0;
  max-width: 220px;
  text-align: center;
}
