.newscards {
  padding: 80px 7.2vw;
  display: flex;
  flex-direction: column;
}

.newscards__title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 40px;
  color: rgb(26, 27, 34);
  margin: 0;
  margin-bottom: 64px;
}

.newscards__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
}

.newscards__button {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 288px;
  border: none;
  border-radius: 80px;
  margin: 64px auto 0;
  background-color: #fff;
}

.newscards__button:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}
