.card {
  width: 400px;
  height: 576px;
}

.card__image {
  border-radius: 16px 16px 0 0;
  height: 272px;
  width: 100%;
}

.card__description {
  background-color: #fff;
  border-radius: 0 0 16px 16px;
  padding: 20px 24px 24px;
}

.card__date {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #b6bcbf;
  margin: 0;
  margin-bottom: 12px;
}

.card__title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 26px;
  color: #1a1b22;
  margin: 0;
  margin-bottom: 16px;
}

.card__text {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #1a1b22;
  margin: 0;
  margin-bottom: 18px;
}

.card__source {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 16px;
  color: #b6bcbf;
  margin: 0;
}
